// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.bd-clipboard {
  + .highlight {
    margin-top: 0;
  }
}

.btn-clipboard {
  top: .5rem;
  right: .5rem;
  z-index: 10;
  @include font-size(.75em);
  color: $gray-800;
  background-color: transparent;

  &:hover {
    color: $white;
    background-color: $primary;
  }
}
